
.greeting{
    display:none;
}
.show-on{
    display:block;
}

.username-container{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.username-block{
    width:200px;
    margin:0 auto;
    text-align:center;
    position: relative;
    top:-50px;
}
p{
    font-weight:bolder;
}

.greeting{
    margin: 0 auto;
}


.show-none{
    display:none;
}
